{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            },
            "test": {
                "plugins": ["@babel/plugin-transform-modules-commonjs"]
              }
        }]
    ] 
}